.form {
  margin-top: -1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

}

.form input {
  background-color: var(--gray-500);
  width: 44.75rem;
  height: 3rem;
  padding: 1rem;
  font-size: 16px;
  color: var(--gray-200);

  border-radius: 6px;
  border: 1px solid var(--gray-700);
}

.form input:focus-within {
  padding: calc(1rem - 1px);
  outline-width: 0;
  border: 2px solid var(--purple-dark);
  color: var(--gray-100);
}

.form button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 2.875rem;
  width: 5rem;
  font-weight: 500;
  font-size: 14px;
  gap: 0.25rem;

  padding: 0.5rem 0.5rem;
  border-radius: 6px;
  border: 1px solid var(--gray-700);

  background-color: var(--blue-dark);
  color: var(--gray-100);
}

.form button:hover {
  background-color: var(--blue);
  cursor: pointer;
}
