.tasks {
  display: flex;
  align-items: center;
  width: 50rem;
  height: 6rem;
  background-color: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-400);

  padding: 1rem;
  margin-bottom: 1rem;
}

.notClickedButton {
  margin-top: -1.5rem;
  color: var(--blue);
  transition:  0.25s color;
}

.notClickedButton:hover {
  color: var(--blue-dark);
  cursor: pointer;
}

.clickedButton {
  margin-top: -1.5rem;
  color: var(--purple);
  transition:  0.25s color;
}

.clickedButton:hover {
  color: var(--purple-dark);
  cursor: pointer;
}

.trashSvg {
  margin-top: -2rem;
  color: var(--gray-300);
  transition: 0.25s color;
}

.trashSvg:hover {
  color: var(--danger);
  cursor: pointer;
}

.tasks p {
  color: var(--gray-200);
  padding: 0 1rem 0 1rem;
}